body{
    background-image: url(p4.jpg);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
ul li{
    display: inline-block;
    list-style: none;
    font-size: 30px;
    margin-right: 50px;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
h1{ 
    color: black;   
    font-size: 30px;
    left: 0;
    line-height: 10px;
    position: absolute;
    text-align: right;
    top: 1%;
    width: 97%;
}
p{
    font-size: 30px;
    font-size: 30px;
    left: 0;
    line-height: 10px;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
}
iframe {
    margin: auto;
    display: block;
    width: 700px;
    position: absolute;
    top: 25%;
    right: 50px;
    left: 50px;
    width: 50%
}
